{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="container version animated"> Update Task  </div>
<br>
<br>
    <div class="form">
        <form action="/update/{{task.id}}" method="POST">
            <input type="text" name="content" id="content" value="{{task.content}}">
            <button class="custom-btn btn-7"><span>Update</span></button>
        </form>
        <br>
    </div>
</div>
{% endblock %}